**/target/
**/.settings/
**/.classpath
**/.project
**/.svn
**/.metadata/
RemoteSystemsTempFiles/
**/bin/
**/*.iml
**/.idea/
build/
**/build/
**/*.bak
**/.gradle/
**/.idea/
out/
.sonarlint/
static/nginx/